- if can? :create, @map => Screenshot
  = render partial: 'screenshots/form', locals: {map: map, screenshot: Screenshot.new}
- if screenshots.size > 0
  %h5 This map has #{screenshots.size} screenshot(s) attached
  - screenshots.each do |screenshot|
    = screenshot.thumbnail
    // TODO :destroy